.title-block {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.title {
    color: $secondary-text-color;
    font-size: 32px;
    font-weight: 900;
}

.title-text {
    color: $secondary-text-color;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    line-height: 2;
}