h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.service-thead tr {
    height: 50px;
    text-align: left;
}

.service-thead tr th {
    padding: 12px;
}

.service-body tr {
    height: 50px;
    text-align: left;
}

.service-body tr th {
    padding: 12px;
}

.service-body tr td {
    padding: 12px;
}