$primary-text-color: #FFFFFF;
$secondary-text-color: #212529;



$primary-bg-color: #FFFFFF;
$secondary-bg-color: #0000000f;

$button-color: #4A57A6;

$card-bg-color: #0C0C0C66;

$main-font-family: "Source Sans Pro", sans-serif